<div class="bg-gray-50 font-article p-2 flex max-lg:justify-center">
    <div class="grow max-w-2xl flex flex-col gap-y-6 rounded-md bg-white text-sm/6 border border-1 border-gray-300 shadow-sm p-4">
        {% block content %}{% endblock %}
    </div>
</div>
